@model Furst_Alpha_1.Models.Asset


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Asset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.(model.Asset.Category_Id).Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Availability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssetId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
